threatstack:
  pkg_url:      https://mirror.example.com      {# optional #}
  pkg_version:  1.4.3-1.0.el6                   {# optional #}
  deploy_key:   xxxx-xxxx-your-secret-key-xxxx  {# required #}
